@charset 'UTF-8';
$BASE_BgColor: #fff;
$BASE_FontColor: #333;
$BASE_FontFamily: 'PingFang SC Medium','Microsoft YaHei',Arial,'Helvetica Neue','SimSun';
$COLOR_1: #428bca;
$COLOR_1_Hover: darken($COLOR_1, 5%) !default;
$COLOR_2: #f00;
$COLOR_2_Hover: darken($COLOR_2, 5%) !default;
$COLOR_3: #ccc;
$COLOR_3_Hover: darken($COLOR_3, 5%) !default;

html, body {
    font-family: $BASE_FontFamily;
    color: $BASE_FontColor;
    background: $BASE_BgColor;
}
