@charset 'UTF-8';
@import './variable.scss';

html, body {
    font: $BASE_Font;
    color: $BASE_FontColor;
    background: $BASE_BgColor;
    padding:0;
    margin:0;
}
.blue{
    color: $COLOR_1;
}
.o8:hover{
    opacity: 0.8;
}
.pointer{
    cursor: pointer;
}
.ml5{
    margin-left: 5px;
}
.mr5{
    margin-right: 5px;
}
.mt5{
    margin-top: 5px;
}
.mb5{
    margin-bottom: 5px;
}
.ml10{
    margin-left: 10px;
}
.mr10{
    margin-right: 10px;
}
.mt10{
    margin-top: 10px;
}
.mb10{
    margin-bottom: 10px;
}
.account-level{
    background: url(../images/VIP-level.png) no-repeat;
    width: 62px;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}
.account-level.level-icon4{
    background-position: -8px -196px;
}
