@charset 'UTF-8';
@import './variable.scss';

// nuxt页面切换效果 start
.page-enter-active,
.page-leave-active {
    transition: opacity 0.2s;
}
.page-enter,
.page-leave-active {
    opacity: 0;
}
// nuxt页面切换效果 end

* {
    margin : 0;
    padding: 0;
}

html,
body {
    font      : $font;
    color     : $fontColor;
    background: #fff;
    padding   : 0;
    margin    : 0;
    min-width: 1280px;
}

.main-color {
    color: $themeColor;
}

.o8:hover {
    opacity: 0.8;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.pointer {
    cursor: pointer;
}

.ml5 {
    margin-left: 5px;
}

.mr5 {
    margin-right: 5px;
}

.mt5 {
    margin-top: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.clearfix {
    *zoom: 1;
}

.clearfix::after {
    content: '\200B';
    display: block;
    height : 0;
    clear  : both;
}

.account-level {
    background    : url(~assets/images/VIP-level.png) no-repeat;
    width         : 62px;
    display       : inline-block;
    height        : 20px;
    vertical-align: middle;
}

.account-level.level-icon4 {
    background-position: -8px -196px;
}

.zw-search-form{
    border: 1px solid rgb(221, 221, 221);
    border-top: none;
    padding: 8px 10px;
}
.flex{
    display: flex;
}
.flex-1{
    flex: 1;
}